<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      ModalCtrl
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button (click)="openModal()">Open</ion-button>
  <div>
    <p>{{message }}</p>
  </div>
</ion-content>
